header{
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li{
    display: inline;
    margin-right: 20px;
}

a {
    color: white;
}

main {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

article, aside{
    width: 45%;
    padding: 10px;
}

footer{
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}